/* Estilo geral */
body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Centralização do conteúdo */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabeçalho */
header {
    background-color: #e24aa8;
    padding: 20px;
    text-align: center;
}

/* ID do título principal */
#page-title {
    color: white;
    font-size: 32px;
}

/* Títulos secundários */
h2 {
    color: #e24aa8;
    margin-top: 30px;
}

/* Imagem de perfil */
img {
    width: 250px;
    height: 250px;          /* força formato quadrado */
    border-radius: 50%;    /* deixa redonda */
    object-fit: cover;     /* evita distorção */
    display: block;
    margin: 15px 0;
}

.sobre-container {
    display: flex;
    align-items: baseline;   /* alinha verticalmente */
    gap: 20px;             /* espaço entre imagem e texto */
}
.sobre-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}



/* Destaque de hobbies */
.hobby-highlight {
    font-weight: bold;
    color: #e2007c;
}

/* Rodapé */
footer {
    background-color: #ddd;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

/* Links do rodapé */
footer a {
    color: #e24aa8;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
